<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ImageSky5th</title>
  <style>
    body {
      font-size: 6px;
    }

    table {
      table-layout: fixed
    }

    table td {
      width: 3px;
      height: 3px;
    }

    table.lcd td {
      width: 9px;
      height: 3px;
    }

  </style>
</head>
<body>

  @RenderBody()

</body>
</html>
